



<%= form_with(url: search_path, method: "get") do %>
  <%= label_tag(:term, "Enter term name:") %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @json %>
  <div>
    <% @json["results"].each do |podcast| %>
    <div class="text-center" style="text-align: left;">
      <li> <%=  podcast["collectionName"] %> </li>
    </div>


    <% end %>
  </div>
<% end %>



